# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

data/*
data-backup/*
data-done/*
data_prev/*
data-errors/*.txt
postgres-data
.env
secrets
test
node_modules
test_dsn
docker-compose.yml
README_OLD.md
legacy_scripts/export_tables.sh
downloads
